<article>
    <img src="img/money.jpg" alt="">
    <div class="content">
        <h2>The Value of Money</h2>
        <p>The value of money is determined by the demand for it, just like the value of goods and services. There are
            three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign
            currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine
            exchange rates. They take into account supply and demand, and then factor in their expectations for the
            future.</p>
        <p>source: https://www.thebalance.com/value-of-money-3306108</p>
    </div>
</article>

<article>
    <img src="img/gmo-food.jpg" alt="">
    <div class="content">
        <h2>GMO food</h2>
        <p>Goldberg, a plant molecular biologist at the University of California, Los Angeles, is not battling
            psychosis. He is expressing despair at the relentless need to confront what he sees as bogus fears over the
            health risks of genetically modified (GM) crops. Particularly frustrating to him, he says, is that this
            debate should have ended decades ago, when researchers produced a stream of exonerating evidence: “Today
            we're facing the same objections we faced 40 years ago.</p>
        <p>Across campus, David Williams, a cellular biologist who specializes in vision, has the opposite complaint. “A
            lot of naive science has been involved in pushing this technology,” he says. “Thirty years ago we didn't
            know that when you throw any gene into a different genome, the genome reacts to it. But now anyone in this
            field knows the genome is not a static environment. Inserted genes can be transformed by several different
            means, and it can happen generations later.” The result, he insists, could very well be potentially toxic
            plants slipping through testing.</p>
        <p>source: https://www.scientificamerican.com/article/the-truth-about-genetically-modified-food/</p>
    </div>
</article>

<article>
    <img src="img/2100.jpg" alt="">
    <div class="content">
        <h2>The View of World in 2100</h2>
        <p>
            With global population set to reach seven billion people over the weekend, it may be time to start planning
            for what the world will look like in the coming years.
        </p>
        <p>
            Though most of us won't be around to see it, the United Nations has projected that our incredible population
            growth will level off at around 10 billion people by the year 2100.
        </p>
        <p>
            source: https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10
        </p>
    </div>