<figure>
    <img src="../img/image-1.jpg" alt="description of image" /> 
    <figcaption>Product-1</figcaption>
 </figure>
 <figure>
    <img src="../img/image-2.jpg" alt="description of image" /> 
    <figcaption>Product-2</figcaption>
 </figure>
 <figure>
    <img src="../img/image-3.jpg" alt="description of image" /> 
    <figcaption>Product-3</figcaption>
 </figure>
 <figure>
    <img src="../img/image-4.jpg" alt="description of image" /> 
    <figcaption>Product-4</figcaption>
 </figure>
 <figure>
    <img src="../img/image-5.jpg" alt="description of image" /> 
    <figcaption>Product-5</figcaption>
 </figure>
 <figure>
    <img src="../img/image-6.jpg" alt="description of image" /> 
    <figcaption>Product-6</figcaption>
 </figure>